@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(223, 211, 211, 0.87);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(10, 10, 10, 0.58);
    --foreground: rgba(202, 200, 200, 0.82);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}